<div>
    <div class="contingut">
        <div class="row">
            <h2 class="titolPag"></h2>
            <div class="clear"></div>
            <div class="cercador hidden">
                <span>Data Inici: </span><input id="dataInici" type="date"></input><span> Data Fi: </span><input id="dataFi" type="date"></input>
                <button class="btn btn-default" id="find">Cercar</button>
            </div>
            <div class="clear espai"></div>
            <div class="col-md-12 mbottom15">
                <div class="roundBorder" id="estacionament">
                    <div class="row bs-wizard">
                        <div class="cont col-md-12">
                            <div class="text-center">
                                <input class="form-control" id="matricula" placeholder="Matricula">
                                <br/>
                                <button class="btn btn-default" id="consultar">Consultar</button>
                            </div>
                            <div class="text-center">
                                <h1 id="mat"></h1>
                                <h2 id="resultat"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
