<div>
    <div class="contingut">
        <div class="row">
            <h2 class="titolPag"></h2>
            <div class="clear espai"></div>
            <div class="col-md-12">
                <table id="taula" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</td></th>
                            <th scope="col">Matrícula</td></th>
                            <th scope="col">Model</td></th>
                            <th scope="col">Color</td></th>
                            <th scope="col">Data Inici</th>
                            <th scope="col">Data Fi</th>
                            <th scope="col">Àrea</th>
                        </tr>
                    </thead>
                    <tbody class="t_body">
                        <tr>
                            <td>
                                <input id="txt_id" placeholder="ID" class="cercar form-control" type="number"/>
                            </td>
                            <td>
                                <input id="txt_mat" placeholder="Matrícula" class="cercar form-control" type="text"/>
                            </td>
                            <td>
                                <input id="txt_marca" placeholder="Model" class="cercar form-control" type="text"/>
                            </td>
                            <td>
                                <input id="txt_color" placeholder="Color" class="cercar form-control" type="text"/>
                            </td>
                            <td>
                                <input id="txt_dataIn" placeholder="Data Inici" class="cercar form-control" type="datetime-local"/>
                            </td>
                            <td>
                                <input id="txt_dataFi" placeholder="Data Fi" class="cercar form-control" type="datetime-local"/>
                            </td>
                            <td>
                                <input id="txt_area" placeholder="Àrea" class="cercar form-control" type="text"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
