<div>
    <div class="contingut">
        <div class="row">
            <h2 class="titolPag">Àrees</h2>
            <a class="contingut createEdit crear fa fa-plus" title="Crear"></a>
            <div class="clear espai"></div>
            <div class="col-md-12">
                <table id="taula" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</td></th>
                            <th scope="col">Nom</th>
                            <th scope="col">Preu Minut</th>
                            <th scope="col">Màxim Minuts</th>
                            <th class="editarElim"></th>
                        </tr>
                    </thead>
                    <tbody class="t_body">
                        <tr>
                            <td>
                                <input id="txt_id" placeholder="ID" class="cercar form-control" type="number"/>
                            </td>
                            <td>
                                <input id="txt_nom" placeholder="Nom" class="cercar form-control" type="text"/>
                            </td>
                            <td>
                                <input id="txt_preuMin" placeholder="Preu Minut" class="cercar form-control" min="0" type="number"/>
                            </td>
                            <td>
                                <input id="txt_maxMin" placeholder="Màxim Minuts" class="cercar form-control" min="0" type="number"/>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="popupCrearEditar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title titolPag"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nom</label>
                    <input class="form-control" type="text" id="nom" required>
                </div>
                <div class="form-group">
                    <label>Preu Minut</label>
                    <input class="form-control" id="preuMinut" min="0" step="any" type="number" required>
                </div>
                <div class="form-group">
                    <label>Màxim Minuts</label>
                    <input class="form-control" id="maxMinuts" min="0" step="any" type="number" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tancar</button>
                <button type="submit" class="btn btn-primary enviar">Enviar</button>
            </div>
        </div>
        </form>

    </div>
</div>
<div id="popup" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Esborrar</h5>
            </div>
            <div class="modal-body">
                <span>Estàs segur que vols esborrar el color </span><b id="esborrarCol"></b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tancar</button>
                <button id="btnEsborrar" type="button" class="btn btn-danger">Esborrar</button>
            </div>
        </div>
    </div>
</div>

