.glywhite {
  color: #9d9d9d;
}

.glywhite:hover {
  color: #fff;
}

.order-detail {
  display: none;
}

.pos-relative {
  position: relative;
}

.remove-icon {
  position:absolute;
  top: 5px;
  right: 5px;
}

.createEdit {
  float: right;
  font-size: 33px;
  cursor: pointer;
}
.editDelete {
  font-size: 19px;
  float: right;
  cursor: pointer;
}

.titolPag {
  display: inline;
}

.titolPagEdit {
  display: inline;
}

.table {
  margin-top: 10px;
}

.crearEditar {
  width: 600px;
  margin: 0 auto;
}

.espai {
  padding: 8px;
}

.border {
  border: 0.5px solid black;
  padding: 10px;
}

.fright {
  float:right;
}

.editarElim {
  width: 57px;
}

body {
  background: #e7e7e7;
}

th {
  min-width: 100px;
}


/*Form Wizard*/
.bs-wizard { padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard > .complete > .bs-wizard-dot:after{
  background-color: #fbe8aa;
}
.progress-bar{
  transition: none;
}
/*END Form Wizard*/

/*Rellotge*/
.clockpicker-moving {
 	cursor: move;
 }
 .clockpicker-align-left.rellotge > .arrow {
 	left: 25px;
 }
 .clockpicker-align-top.rellotge > .arrow {
 	top: 17px;
 }
 .clockpicker-align-right.rellotge > .arrow {
 	left: auto;
 	right: 25px;
 }
 .clockpicker-align-bottom.rellotge > .arrow {
 	top: auto;
 	bottom: 6px;
 }
 .clockpicker-rellotge .rellotge-title {
 	background-color: #fff;
 	color: #999;
 	font-size: 24px;
 	font-weight: bold;
 	line-height: 30px;
 	text-align: center;
 }
 .clockpicker-rellotge .rellotge-title span {
 	cursor: pointer;
 }
 .clockpicker-rellotge .rellotge-content {
 	background-color: #f8f8f8;
 	padding: 12px;
 }
 .rellotge-content:last-child {
 	border-bottom-left-radius: 5px;
 	border-bottom-right-radius: 5px;
 }
 .rellotge {
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 225px;
    padding: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    line-break: auto;
 }
 .clockpicker-plate {
 	background-color: #fff;
 	border: 1px solid #ccc;
 	border-radius: 50%;
 	width: 200px;
 	height: 200px;
 	overflow: visible;
 	position: relative;
 	/* Disable text selection highlighting. Thanks to Hermanya */
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.clockpicker-canvas,
.clockpicker-dial {
  width: 200px;
  height: 200px;
  position: absolute;
  left: -1px;
  top: -1px;
}
.clockpicker-minutes {
  visibility: hidden;
}
.clockpicker-tick {
  border-radius: 50%;
  color: #666;
  line-height: 26px;
  text-align: center;
  width: 26px;
  height: 26px;
  position: absolute;
  cursor: pointer;
}
.clockpicker-tick.active,
.clockpicker-tick:hover {
  background-color: rgb(192, 229, 247);
  background-color: rgba(0, 149, 221, .25);
}
.clockpicker-button {
  background-image: none;
  background-color: #fff;
  border-width: 1px 0 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  padding: 10px 0;
}
.clockpicker-button:hover {
  background-image: none;
  background-color: #ebebeb;
}
.clockpicker-button:focus {
  outline: none!important;
}
.clockpicker-dial {
  -webkit-transition: -webkit-transform 350ms, opacity 350ms;
  -moz-transition: -moz-transform 350ms, opacity 350ms;
  -ms-transition: -ms-transform 350ms, opacity 350ms;
  -o-transition: -o-transform 350ms, opacity 350ms;
  transition: transform 350ms, opacity 350ms;
}
.clockpicker-dial-out {
  opacity: 0;
}
.clockpicker-minuts.clockpicker-dial-out {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.clockpicker-minutes.clockpicker-dial-out {
  -webkit-transform: scale(.8, .8);
  -moz-transform: scale(.8, .8);
  -ms-transform: scale(.8, .8);
  -o-transform: scale(.8, .8);
  transform: scale(.8, .8);
}
.clockpicker-canvas {
  -webkit-transition: opacity 175ms;
  -moz-transition: opacity 175ms;
  -ms-transition: opacity 175ms;
  -o-transition: opacity 175ms;
  transition: opacity 175ms;
}
.clockpicker-canvas-out {
  opacity: 0.25;
}
.clockpicker-canvas-bearing,
.clockpicker-canvas-fg {
  stroke: none;
  fill: rgb(0, 149, 221);
}
.clockpicker-canvas-bg {
  stroke: none;
  fill: rgb(192, 229, 247);
}
.clockpicker-canvas-bg-trans {
  fill: rgba(0, 149, 221, .25);
}
.clockpicker-canvas line {
  stroke: rgb(0, 149, 221);
  stroke-width: 1;
  stroke-linecap: round;
  /*shape-rendering: crispEdges;*/
}
.clockpicker-button.am-button {
  margin: 1px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;

}
.clockpicker-button.pm-button {
  margin: 1px 1px 1px 136px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
}
/*END Rellotge*/



table.t_estacionament td{
  cursor: pointer;
  vertical-align: middle;
}
table.t_estacionament th{
  text-align: center;
  color: #d48d67;
}

.dreta {
  float: right;
  line-height: 20px;
}

.fz18{
  font-size: 18px;
}
.fz16{
  font-size: 16px;
}

.centre{
  text-align: center;
}

.estacionament {
  max-width: 500px;
  margin: 0 auto;
}

#estacionament {
  margin: auto;
  max-width: 700px;
}

.roundBorder {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: white;
}

//Slider
#ex1Slider .slider-selection {
  background: #BABABA;
}
//Fi Slider

.punter {
  cursor: pointer;
}