.glywhite {
  color: #9d9d9d;
}

.glywhite:hover {
  color: #fff;
}

.order-detail {
  display: none;
}

.pos-relative {
  position: relative;
}

.remove-icon {
  position:absolute;
  top: 5px;
  right: 5px;
}

.float_right {
  float: right;
}