.glywhite {
  color: #9d9d9d;
}

.glywhite:hover {
  color: #fff;
}

.order-detail {
  display: none;
}

.pos-relative {
  position: relative;
}

.remove-icon {
  position:absolute;
  top: 5px;
  right: 5px;
}

.createEdit {
  float: right;
  font-size: 33px;
  cursor: pointer;
}
.editDelete {
  font-size: 19px;
  float: right;
  cursor: pointer;
}

.titolPag {
  display: inline;
}

.titolPagEdit {
  display: inline;
}

.table {
  margin-top: 10px;
}

.crearEditar {
  width: 600px;
  margin: 0 auto;
}

.espai {
  padding: 8px;
}

.border {
  border: 0.5px solid black;
  padding: 10px;
}

.fright {
  float:right;
}

.editarElim {
  width: 57px;
}

th {
  min-width: 100px;
}


/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard > .complete > .bs-wizard-dot:after{
  background-color: #fbe8aa;
}
/*END Form Wizard*/

table.t_estacionament{
  max-width: 500px;
  margin: 0 auto;
}

table.t_estacionament td{
  cursor: pointer;
  vertical-align: middle;
}
table.t_estacionament th{
  text-align: center;
  color: #d48d67;
}

.dreta {
  float: right;
  line-height: 20px;
}

.fz18{
  font-size: 18px;
}
.fz16{
  font-size: 16px;
}

.centre{
  text-align: center;
}

#crearEditarVehicle {
  max-width: 500px;
  margin: 0 auto;
}
