<div>
    <div class="contingut">
        <div class="row">
            <h2 class="titolPag">Vehicles</h2>
            <a class="contingut createEdit crear fa fa-plus" title="Crear"></a>
            <div class="clear espai"></div>
            <div class="col-md-12">
                <table id="taula" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</td></th>
                            <th scope="col">Matrícula</th>
                            <th scope="col">Color</th>
                            <th scope="col">Marca</th>
                        </tr>
                    </thead>
                    <tbody class="t_body">
                        <tr>
                            <td>
                                <input id="txt_id" placeholder="ID" class="cercar form-control" type="number"/>
                            </td>
                            <td>
                                <input id="txt_matricula" placeholder="Matrícula" class="cercar form-control" type="text"/>
                            </td>
                            <td>
                                <input id="txt_color" placeholder="Color" class="cercar form-control" type="text"/>
                            </td>
                            <td>
                                <input id="txt_marca" placeholder="Marca" class="cercar form-control" type="text"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
